<h1>Hello world!</h1>

<% @questions.each do |question| %>
  <p>
  	<%= question.votes_count %>
  	<%= link_to "\u25B2", upvote_path(voteable_id: question.id, voteable_type: "Question" ), method: :post %> 
  	<%= link_to "#{question.title}", question %>
  	<%= "asked #{time_ago_in_words(question.created_at)} ago." %>
  </p>
<% end %>