<%= render partial: "shared/questions_list", locals: { questions: @questions } %>

<div class="button-designs">
  <a class="button button-question" href="#">Ask Question</a>

  <a class="button button-guest" href="#">Sign In As Guest</a>

  <a class="button button-github" href="#">Sign In With GitHub</a>
</div>
