<% if user_signed_in? %>
  <%= link_to 'Ask Question', new_question_path, class: 'button button-question' %>
<% else %>
  <a href="javascript:void(0)" class="sign_in button button-question">Ask Question</a>
<% end %>
