<% questions.each do |question| %>
	<p>
		<%= render partial: "shared/vote", locals: { voteable: question, voteable_type: "Question" } %>
		<%= link_to "#{question.title}", question_path(id: question.id, title: question.title.parameterize ) %>
	</p>
	<p>
		Asked by <%= link_to "#{question.user_name}", user_path(id: question.user_id, name: question.user_name.parameterize) %> 
	  <%= time_ago_in_words(question.created_at) %> ago.
	</p>
<% end %>