<ul class="question__list">
  <% questions.each do |question| %>
    <li class="question__card__item"><%= render partial: "shared/question_card", locals: { question: question } %></li>
  <% end %>
</ul>
