<% if question.answers.empty? %>
  <p>Be the first to answer this question.</p>
<% end %>

<% question.answers.each do |answer| %>
  <p><%= render partial: "shared/vote", locals: { voteable: answer, voteable_type: "Answer" } %>
  	<%= parse(answer.content).html_safe %><p>
  <p>Answered by <%= link_to "#{answer.user_name}", user_path(id: answer.user_id, name: answer.user_name.parameterize) %> 
  <%= time_ago_in_words(answer.created_at) %> ago.</p>
<% end %>