<% if question.answers.empty? %>
  <p>Be the first to answer this question.</p>
<% end %>

<ul class="answer__list">
  <% question.answers.each do |answer| %>
    <li class="answer__list__item">
      <%= render partial: "shared/answer", locals: { answer: answer } %>
    </li>
  <% end %>
</ul>
