<div id="sign_in_model" style="display: none;">
  <div class="modal">
    <div class="sailor sailor-modal"></div>

    <div class="buttons">
      <%= link_to 'Sign in as Guest', users_guest_path, method: :post, class: 'button button-guest' %>
      <%= link_to 'Sign in with Github', user_omniauth_authorize_path(:github), class: 'button button-github' %>
    </div>
  </div>
</div>
