<div class="vote">
  <% if user_signed_in? %>
    <%= link_to ">", upvote_path(voteable_id: voteable.id, voteable_type: voteable_type), method: :post, class: "vote__arrow" %>
  <% else %>
    <span class="vote__arrow--disabled">></span>
  <% end %>
  <div class="vote__count"><%= voteable.votes_count || 0 %></div>
</div>
