.answer__card__content {
  padding-left: 60px;
}

.answer__card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.answer__list {
  list-style-type: none;
  padding: 0;
}

.answer__card__about {
  font-size: 0.85em;
  margin: 0;
}
