.avatar__small {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  display: block;
  overflow: hidden;
  background: red;
  float: left;
  margin-right: 0.5em;
}

.avatar__small img {
  width: 30px;
  height: 30px;
}

.avatar__large {
  width: 80px;
  height: 80px;
}
