body {
  font: 17px/31px 'Lucida Grande', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 960px;
  min-width: 200px;
  margin: auto;
  display: flex;
}

header {
  background: #eee;
}

header .container {
  height: 3em;
}

.title {
  margin: 0;
  flex: 1;
  margin-top: 0.25em;
}

.search {
  flex: 1;
  margin-top: 0.5em;
}

.search-query {
  width: 100%;
}

nav {
  flex: 1;
}

.navigation {
  font-size: 0.85em;
  list-style: none;
  margin: 0;
}

.navigation li {
  float: right;
}

main {
  flex: 1;
}

footer {
  font-size: 0.85em;
  background: #eee;
}
