.question__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.question__card__item {
  margin-bottom: 20px;
}

.question__card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.question__card__content {
}

.question__card__about {
  font-size: 0.85em;
  margin: 0;
}
